p{
    font-family:Georgia;
    font-size:86;
}
.blue{
    color:blue;
}
.red{
    color:red;
}
.yellow{
    color:#ffad33;
}
.green{
    color:green;
}
#text-entry{
    border:none;
    width:500px;
    font-size:20;
}
.buttons{
    border:1px;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    background-color:#e6e6e6;
    text-decoration:none;
    color:#000000;
    /*these aren't working =( */
}